<!-- <div class="content" role="main">
    <h2>Register</h2>
    <div>name: <input [(ngModel)]="registerDto.name" ></div>
    <div>email: <input [(ngModel)]="registerDto.email" ></div>
    <div>password: <input [(ngModel)]="registerDto.password" ></div>
    <button (click)="register(registerDto)">Register</button>
</div> -->
<section>

    <div class="content" role="main">
      <img src="../../../assets/Pictures/sonatrach.png" alt="">
      Name 
      <input [(ngModel)]="registerDto.name" >
      Email 
      <input [(ngModel)]="registerDto.email" >
  
      Password<br />
      <input [(ngModel)]="registerDto.password" >
      <br>
     
      <button (click)="register(registerDto)">S'inscrire</button>
    </div>
  </section>
  